* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

header {
  height: 100vh;
  padding: 26px 56px;
  background-image:
  linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 80%,rgba(0,0,0,.8)), url('https://assets.nflxext.com/ffe/siteui/vlv3/83e8c151-107d-4e8f-b95a-d2ba99d49bb9/2b6e4888-0a2b-4297-a4ed-99a8be6970b0/PT-pt-20230213-popsignuptwoweeks-perspective_alpha_website_large.jpg');
}

.navbar {
  display: flex;
  justify-content:space-between;
}

.navbar .buttons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar .logo svg {
  fill:rgb(229, 9, 20);
  height: 37px;
}

header select {
  background: transparent;
  color: white;
  height: 37px ;
}

.navbar button {
    background-color: rgb(229, 9, 20);
    color: white;
    text-decoration: none;
    padding: 7px 17px;
    border: 3px;
    border-radius: 3px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    cursor: auto;
    float: none;
    margin-top: 0;
    white-space: nowrap;
  }
.card {
  max-width: 640px;
  margin: 100px auto 30px;
}
.text {
  color:white;
  text-align: center;
}

.text H1 {
  font-size: 48px;
}

.text H2 {
  font-size: 26px;
}

.text H3 {
  font-size: 20px;
}
.enterbuttom{
  display: flex;
  justify-content:center;
}

.enterbuttom button{
  background-color: rgb(229, 9, 20);
  color: white;
  text-decoration: none;
  border: 2px;
  text-align: center;
  font-weight: 800px;
  font-size: 24px;
  cursor: auto;
  float: none;
  margin-top: 0;
  white-space: nowrap;
  height: 62px;
  width: 150px;
}

#email {
  height: 62px;
  min-width: 350px;
  font-size: 16px;
}
.cardImageTv {
  background-color: black;
  display: flex;
  justify-content:space-between;
  border-top: 8px solid #222;
}
.cardTV {
  padding: 70px 45px;
  text-align: left;
  color: white;
}

.cardTV H1 {
  font-size: 56px;
}

.cardTV H2 {
  font-size: 27px;
}

.imageTV {
  border: 0;
  height: auto;
  max-width: 100%;
  position: relative;
  background: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v') no-repeat center transparent;
}

.cardImagePhone {
  background-color: black;
  display: flex;
  justify-content:space-between;
  border-top: 8px solid #222;
}

.cardPhone {
  position: relative;
}
.cardStrangerThings {
  position: absolute;
  background-color: black;
  border: 2px solid hsla(0,0%,100%,.25);
  border-radius: 10px;
  bottom: 8%;
  box-shadow: 0 0 2em 0 #000;
  width: 370px;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.capaserie {
  height: 115px;
  padding: 10px 20px;
}

.cardStrangerThings H3 {
  color: white;
  font-size: 20px;
}

.cardStrangerThings H4 {
  color: blue;
  font-size: 15px;
}

.cardgif {
  height: 60px;
}

.cardtextPhone {
  padding: 70px 45px;
  text-align: left;
  color: white;

}

.cardtextPhone H1 {
  font-size: 56px;
}

.cardtextPhone H2 {
  font-size: 27px;
}

.imagePhone {
  border: 0;
  height: auto;
  max-width: 100%;
  position: relative;
}

.perguntasFrequentes {
  background-color: black;
  border-top: 8px solid #222;
  padding-bottom: 80px;
  justify-content:center;
  align-items: center;
}

.titleperguntasfrequentes {
  color: white;
  text-align: center;
  font-size: 40px;
}

.accordion {
  display: block;
  background-color: #303030;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 50px;
  margin: 5px auto;
  width: 900px;
  text-align: left;
  border: 6px;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #303030;
}

.panel {
  background-color: #303030;
  color: white;
  font-size: 30px;
  padding: 15px;
  margin: 0px auto;
  width: 900px;
  display: none;
  overflow: hidden;
}

.enteremail {
  color: white;
  text-align: center;
  font-size: 20px;
}